@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');

body {
    background-color: #e5ddc7;
}

div.experimental {
    color: greenyellow;
    p {
        color: greenyellow;
    }
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

div.top {
    background-color: #dcd2b4;
    padding: 40px;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    position: fixed;
    box-sizing: border-box;
    z-index: 1;
}

div.navbar {
    height: 100%;
    width: min(200px, max(100px, calc(12.5%)));
    position: fixed;
    top: 80;
    left: 0;
    background-color: #E3DBC2;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    z-index: 2;

    a {
        display: flex;
        flex-direction: column; /* Stack icon and text vertically */
        align-items: center; /* Center items horizontally */
        text-align: center; /* Center text under the icon */
        color: #E5E4E2;
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
        text-decoration: none;
        padding: 15px;
        border-bottom: 1px solid #444;
        border-top: 1px solid #444;
        transition: all 0.3s ease-in-out;
        border-top-left-radius: 0; /* remove curve on left side on hover */
        border-bottom-left-radius: 0; /* remove curve on left side on hover */
    }

      a p {
        margin-bottom: 10px; /* Add space between icon and text */
    }
      
      a:hover {
        background-color: #dcd2b4;
        border-radius: 0;
        border-top-left-radius: 0; /* remove curve on left side on hover */
        border-bottom-left-radius: 0; /* remove curve on left side on hover */
        border-right: 2px solid #e5ddc7;
        margin-right: +10px;
      }

    .clipzy-home {
        position: sticky;
        width: 80px;
        height: 80px;
        cursor: pointer;
    }

    .clipzy-friends {
        position: sticky;
        width: 80px;
        height: 80px;
        cursor: pointer;
    }

    .clipzy-explore {
        position: sticky;
        width: 80px;
        height: 80px;
        cursor: pointer;
    }

    .clipzy-profile {
        position: sticky;
        width: 80px;
        height: 80px;
        cursor: pointer;
    }

    .clipzy-idk {
        position: sticky;
        width: 80px;
        height: 80px;
        cursor: pointer;
    }

}

.hide-text a p {
    display: none;
}

.logout {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 20px;
    border-radius: 10px;
    overflow: hidden;

    button {
        padding: 10px 20px;
        background-color: #3E56E2;
        color: #fff;
        border: none;
        cursor: pointer;
    }
    
    button:hover {
        background-color: #184ec4;
    }
}

div.profile {

    .name {
        position: fixed;
        top: 20px;
        right: 300px;
        padding-right: 5px;
        margin-right: 20px;
        margin-top: 10px;
        font-size: 20px;
        color: black;
    }

    .picture {
    position: fixed;
    top: 10px;
    right: 240px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    }
}

.clipzy-logo {
    position: fixed;
    top: -10px;
    left: 10px;
    width: 100px;
    height: 100px;
    cursor: pointer;

}

.search-container {
    display: inline-block;
    border-radius: 20px;
    overflow: hidden;

    button {
        padding: 10px 20px;
        background-color: #3E56E2;
        color: #fff;
        border: none;
        cursor: pointer;
    }
    
    button:hover {
        background-color: #184ec4;
    }
}

input[type=text] {
    padding: 10px;
    margin-right: 5px;
    background-color: #e9e3d0;
    color: white;
    font-size: 14px;
    border: none;
    outline: none;
}

p {
    color: #000000;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    padding: 10px;
}

a {
    color: #9443f0;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-align: center;
}

h1 {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    display: inline-block;
}