body {
    font-family: Arial, sans-serif;
    background-color: #e5ddc7;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.logo {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

header {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #3498db;
}

/* Footer Styles */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer p {
    margin-bottom: 10px;
}

.footer-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    display: inline;
}

.footer-links li:not(:last-child) {
    margin-right: 10px;
}

.footer-links li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
    border-bottom: 1px solid #ffffff;
}

.footer-links li a:hover {
    color: #3498db;
    border-bottom-color: #3498db;
}

/* Donate Section Styles */
.donate ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.donate ul li {
    margin-bottom: 10px;
}

.donate a {
    color: #3498db;
    text-decoration: none;
    transition: color 0.3s ease;
}

.donate a:hover {
    color: #2577b5;
}

.newsletter {
    margin-bottom: 0;
}
